﻿<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/MojCss.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/simple-sidebar.css" />
    <link rel="stylesheet" href="~/css/logo-nav.css" />
    <link rel="stylesheet" href="~/css/fix.css" />
    
    <meta name="viewport" content="width=device-width" />
    <title>ContactLIst</title>
</head>
<body ng-app="contactsModule">
    <div id="wrapper" class="marginless">
        <!--<div>
            <img src="/images/Menu-96.png" alt="menuIcon" class="sidebarImg" />
        </div>-->
        <div>
            <div>
                @RenderBody()
            </div>
            <div></div>
            <!--<div id="footer">
                &copy; 2016 ContactList by Leonard Blazevic
            </div>-->
        </div>
    </div>

    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/contactsModule.js"></script>
    <script src="~/js/contactsController.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/createNewController.js"></script>
    <script src="~/js/menuController.js"></script>
    <script src="~/js/viewContactController.js"></script>
    <script src="~/js/editContactController.js"></script>
</body>
</html>
