﻿body {
    margin:0;
}

.marginless {
    margin-top:10px;
}

.searchForm {
    margin-top:10px;
}

.selectLimit{
    max-width:100px;
}

#contactContainer{
    margin:20px 20px 20px 20px;
}

#showAllButton{
    margin:60px 0 0 0;
    width:80%;
}
