﻿body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:14px;
    margin:0;
}
.main{
    background-color:#ddd;
    
}
#footer{
    background-color:#222;
    color:#eee;
    padding: 4px 4px 4px 4px;
    position:fixed;
    bottom:0;
    width:100%;
    overflow:hidden;
    margin-top:30px;
}

.sidebarImg{
    margin-left:55px;
    max-width:40px;
    margin-bottom:20px;
}

.menu{
    font-size: 12px;
    margin:0;
    padding:0;
}
.menu li{
    list-style-type: none;
    margin:0;
}

.sidebar{
    background-color:#2a2c36;
    color:#eee;
    position:fixed;
    height:100%;
    width:150px;
    overflow:hidden;
    left:0;
    margin:0;
    padding:0;
}

.sidebarContent{
    position:fixed;
    height:100%;
    width:150px;
    left:0;
    margin:0 100px 100px 0;
    padding:0;
}

.wrapper{
    margin:0 0 0 150px;
    padding:0;
}

.menuButton{
    margin:0 0 0 0;
    width:150px;
    height:40px;
}

.contactBox{
    
    margin-bottom:30px;
    margin-left: 300px;
}

.backImg{
    max-width:30px;
    max-height:30px;
    margin:0;
}

.createNewForm{
    margin-left:30px;
}

.editButton{
    margin: 10px 10px 10px 10px;
    width:100px;
    height:30px;
}

.searcBar{
    margin-bottom:43px;
    position:fixed;
    top:0;
    width:100%;
}
