﻿<div class="marginless">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <form class="form-inline marginless" name="searchForm" ng-submit="vm.search()">
                    <font color="#eee">Search:</font><input class="form-control" ng-model="vm.searchText" required />
                    <input type="submit" value="Submit" class="btn btn-default" ng-disabled="searchForm.$invalid" />
                </form>
            </div>
        </div>
    </nav>
</div>
<div id="sidebar-wrapper" class="marginless">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
         <a>
            <font size="5" color="#eee" face="Charcoal">Contact List</font>
        </a>
        </li>
        <li>
            <a href="#/CreateNew">Create</a>
        </li>
        <li>
            <font color="#eee">Filter</font>
        </li>
        <li>
            <select ng-change="vm.filter()" class="form-control" ng-model="vm.currentFilter" ng-options="filter.contactTagId as filter.tag for filter in vm.tags"></select>
        </li>
        <li>
            <font color="#eee">Sort</font>
        </li>
        <li>
            <select ng-change="vm.sort()" class="form-control" ng-model="vm.currentSort" ng-options="sort.id as sort.name for sort in vm.sorts"></select>
        </li>
        <li ng-click="vm.showAll()">
            <button id="showAllButton" type="button" class="btn btn-primary btn-lg">Show all</button>
        </li>
    </ul>
</div>

<div id="page-content-wrapper">
    <div>       
            <div id="contactContainer" class="col-lg-6" ng-repeat="contact in vm.contacts" ng-click="vm.contactClick(contact)" style="border: 2px solid #0094ff">
                <table class="table">
                    <tr>
                        <th><font size="5" face="Courier New">{{contact.name}}</font></th>
                    </tr>
                    <tr ng-repeat="number in contact.phoneNumbers">
                        <th><font size="3" face="Courier New">Tel:</font></th>
                        <th><font size="3" face="Courier New">{{number.number}}</font></th>
                    </tr>
                </table>
            </div>
    </div>
</div>