﻿<div class="marginless">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
               <div><a href="#/"><img src="/images/Back-96.png" class="backImg marginless" /></a></div> 
            </div>
        </div>
    </nav>
</div>
<div id="sidebar-wrapper" class="marginless">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a>
                <font size="5" color="#eee" face="Charcoal">Contact List</font>
            </a>
        </li>
        <li>
            <a>Add category</a>
        </li>
        <li>
            <form class="form-group" name="newTagForm" ng-submit="vm.addTag()">
                <div><input class="form-control" ng-model="vm.newTag" type="text" id="tag" name="tag" required ng-minlength="3" /></div>
                <div><span class="text-danger" ng-show="newTagForm.tag.$error.minlength">*At least 3 characters!!!</span></div>
                <div><input class="btn btn-default" ng-disabled="newTagForm.$invalid" type="submit" value="Add" /></div>
            </form>
        </li>
    </ul>
</div>
    

<div id="page-content-wrapper">
    <div>
        <div class="container-fluid">
            <form class="form-group" name="newContactForm" ng-submit="vm.addContact()">
                <div class="col-xs-7">
                    <div><label>Name:</label></div>
                    <div>
                        <input class="form-control" type="text" id="name" name="name" ng-model="vm.newContact.name" required ng-minlength="3" />
                        <span class="text-danger" ng-show="newContactForm.name.$error.required">*Enter name!!!</span>
                        <span class="text-danger" ng-show="newContactForm.name.$error.minlength">*Name must be at least 3 characters long!!!</span>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div><label>Adress:</label></div>
                    <div><input class="form-control" type="text" ng-model="vm.newContact.adress" /></div>
                </div>
                <div class="col-xs-7">
                    <div><label>Date of birth:</label></div>
                    <div><input class="form-control" type="text" ng-model="vm.newContact.birthday" /></div>
                </div>
                <div class="col-xs-7">
                    <div><label>Category:</label></div>
                    <select multiple class="form-control" ng-model="vm.currentTags" ng-change="vm.setTag()" ng-options="tag.contactTagId as tag.tag for tag in vm.tags"></select>
                    <button type="button" class="btn btn-default" ng-click="vm.clearTags()">Clear</button>
                </div>
                <div class="col-xs-7">
                    <div ng-repeat="email in vm.emails">
                        <div><label>Email:</label></div>
                        <div>
                            <input class="form-control" type="text" id="{{email.name}}" name="{{email.name}}" ng-model="email.value" />
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-default" ng-click="vm.addEmail()">Add email</button>
                        <button ng-show="vm.addedEmails>0" class="btn btn-default" ng-click="vm.removeEmail()">Remove email</button>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div ng-repeat="number in vm.phoneNumbers">
                        <div><label>Telephone:</label></div>
                        <div>
                            <input class="form-control" type="text" id="{{number.name}}" name="{{number.name}}" ng-model="number.value" required />
                            <span class="text-danger" ng-show="!number.value">*Enter telephone number!!!</span>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-default" ng-click="vm.addNumber()">Add number</button>
                        <button ng-show="vm.addedNumbers>0" class="btn btn-default" ng-click="vm.removeNumber()">Remove number</button>
                    </div>
                </div>

                <div class="col-xs-7">
                    <input value="Submit" class="btn btn-default" type="submit" ng-disabled="newContactForm.$invalid" />
                </div>
            </form>
        </div>
    </div>
</div>
