﻿<div class="marginless">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                
            </div>
        </div>
    </nav>
</div>

<div id="sidebar-wrapper" class="marginless">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a>
                <font size="5" color="#eee" face="Charcoal">Contact List</font>
            </a>
        </li>
        <li>
            <a>Add category</a>
        </li>
        <li>
            <form class="form-group" name="newTagForm" ng-submit="vm.addTag()">
                <div><input class="form-control" ng-model="vm.newTag" type="text" id="tag" name="tag" required ng-minlength="3" /></div>
                <div><span class="text-danger" ng-show="newTagForm.tag.$error.minlength">*At least 3 characters!!!</span></div>
                <div><input class="btn btn-default" ng-disabled="newTagForm.$invalid" type="submit" value="Add" /></div>
            </form>
        </li>
    </ul>
</div>

<div id="page-content-wrapper">
    <div>
        <form class="form-group" name="editContactForm" ng-submit="vm.editContact()">
            <div class="col-xs-7">
                <div><label>Name:</label></div>
                <div>
                    <input class="form-control" type="text" id="name" name="name" ng-model="vm.editedContact.name" required ng-minlength="3" />
                    <span class="text-danger" ng-show="editContactForm.name.$error.required">*Enter name!!!</span>
                    <span class="text-danger" ng-show="editContactForm.name.$error.minlength">*Name must be at least 3 characters long!!!</span>
                </div>
            </div>
            <div class="col-xs-7">
                <div><label>Adress:</label></div>
                <div><input class="form-control" type="text" ng-model="vm.editedContact.adress" /></div>
            </div>
            <div class="col-xs-7">
                <div><label>Date of birth:</label></div>
                <div><input class="form-control" type="text" ng-model="vm.editedContact.birthday" /></div>
            </div>
            <div class="col-xs-7">
                <div><label>Category:</label></div>
                <select multiple class="form-control" ng-model="vm.currentTags" ng-change="vm.setTag()" ng-options="tag.contactTagId as tag.tag for tag in vm.tags"></select>
                <button type="button" class="btn btn-default" ng-click="vm.clearTags()">Clear</button>
            </div>
            <div class="col-xs-7">
                <div ng-repeat="email in vm.emails">
                    <div><label>Email:</label></div>
                    <div class="form-inline">
                        <input class="form-inline form-control" type="text" id="{{email.name}}" name="{{email.name}}" ng-model="email.value" />
                        <button type="button" class="btn btn-danger form-inline" ng-click="vm.deleteEmail(email)">Delete</button>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default" ng-click="vm.addEmail()">Add email</button>
                </div>
            </div>
            <div class="col-xs-7">
                <div ng-repeat="number in vm.phoneNumbers">
                    <div><label>Telephone:</label></div>
                    <div class="form-inline">
                        <input class="form-control form-inline" type="text" id="{{number.name}}" name="{{number.name}}" ng-model="number.value" required />
                        <button type="button" class="btn btn-danger form-inline" ng-click="vm.deleteNumber(number)">Delete</button>
                        <span class="text-danger" ng-show="!number.value">*Enter telephone number!!!</span>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-default" ng-click="vm.addNumber()">Add number</button>
                </div>
            </div>

            <div class="col-xs-7">
                <input class="btn btn-default" type="submit" value="Submit" ng-disabled="editContactForm.$invalid" />
            </div>
        </form>
    </div>
</div>