﻿<div class="marginless">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div><a href="#/"><img src="/images/Back-96.png" class="backImg marginless" /></a></div>
            </div>
        </div>
    </nav>
</div>


<div id="sidebar-wrapper" class="marginless">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a>
                <font size="5" color="#eee" face="Charcoal">Contact List</font>
            </a>
        </li>
        <li>
            <div ng-click="vm.editContact()"><a>Edit</a></div>
        </li>
        <li>
            <div ng-click="vm.deleteContact()"><a>Delete</a></div>
        </li>
    </ul>
</div>

<div id="page-content-wrapper">
    <div class="container-fluid">
        <table class="table table-striped">
            <tr>
                <th><font size="3" face="Courier New">Name:</font></th>
                <th><div ng-show="vm.currentContact.name"><font size="5" face="Courier New">{{vm.currentContact.name}}</font></div></th>
            </tr>
            <tr>
                <th><font size="3" face="Courier New">Adress:</font></th>
                <th><div ng-show="vm.currentContact.adress"><font size="3" face="Courier New">{{vm.currentContact.adress}}</font></div></th>
            </tr>
            <tr>
                <th><font size="3" face="Courier New">Date of birth:</font></th>
                <th><div ng-show="vm.currentContact.birthday"><font size="3" face="Courier New">{{vm.currentContact.birthday}}</font></div></th>
            </tr>
            <tr ng-repeat="tag in vm.currentContact.tagValues">
                <th><font size="3" face="Courier New">Category:</font></th>
                <th><div><font size="3" face="Courier New">{{vm.tags[tag.tagValue].tag}}</font></div></th>
            </tr>
            <tr ng-repeat="number in vm.currentContact.phoneNumbers">
                <th><font size="3" face="Courier New">Telephone:</font></th>
                <th><font size="3" face="Courier New">{{number.number}}</font></th>
            </tr>
            <tr ng-repeat="email in vm.currentContact.emails" ng-show="vm.currentContact.emails[0].email">
                <th><font size="3" face="Courier New">Email:</font></th>
                <th><font size="3" face="Courier New">{{email.email}}</font></th>
            </tr>
        </table>
    </div>
    
</div>


